<!DOCTYPE html>
<html>
  <head>
    <mata charest="utf-8" />
    <!-- <meta http-equiv = "refresh" content = "5; url = https://lms.getdemos.in/my_courses" /> -->
    <title>Payment</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body style="font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;">
   
   <form method="POST" name="razorpay" >
   
   <div id="header-div">
    <img src=<%= transaction_image %> />
    <h1><%= amount %></h1>
    <h2><%= transaction_status %></h2>      
    <p><%= transaction_message %></p>               
    <br/><br/>    
   </div>
   <div id="bordered-div">
    <table>
       
        <tr>
            <td>Name</td>
            <td><%= name %></td>
        </tr>
        <tr>
            <td>Order ID</td>
             <td><%= order_id %></td>
        </tr>
        <tr>
            <td>Payment ID</td>
             <td><%= payment_id %></td>
        </tr>
        <tr>
            <td>Payment DateTime</td>
             <td><%= payment_datetime %></td>
        </tr>
    </table>
   
   </div>
   </form>
  </body>
</html>
